<div>leaderboard here</div>

<div>
<input {{user_comment}} type="text" id="comment-box" placeholder="Enter Comment">
<button id="post">Comment</button>
<ul id="unordered">

</ul>

<script src="leaderboard.js"></script>
</div>