:root {
    --beige: #F9DFDC;
    --light_blue: #0A81AB;
    --dark_blue: #0C4271;
    --black: #000000;
}


body{
    background: radial-gradient( var(--light_blue) 0%, var(--dark_blue) 100%);
    color: var(--beige);
    font-family: 'Righteous', cursive;
}

.hide{
    display: none;
}

.banner{
    text-align: center;
    margin: 20%;
}
.welcome{
    text-align: center;
}

#logout{
    cursor: pointer;
}

.card{
    margin: 20%;
    background: radial-gradient( var(--light_blue) 0%, var(--dark_blue) 100%);
    box-shadow: inset 0px 0px 8px var(--dark_blue), 0 0 15px var(--black);
}

.answerBtn{
    background-color: var(--dark_blue);
    border-color: var(--light_blue);
    /* background-color: var(--light_blue);
    color: var(--black);
    border-color: var(--dark_blue); */
    text-align: center;
    /* margin: 5px; */
}

.answerBtn:hover{
    /* background-color: var(--dark_blue);
    border-color: var(--light_blue); */
    background-color: var(--light_blue);
    color: var(--black);
    border-color: var(--dark_blue);
}


#startCard{
    text-align: center;
}

#startBtn{
    background-color: var(--dark_blue);
    border: var(--light_blue);
}

#startBtn:hover{
    background-color: var(--light_blue);
    border-color: var(--dark_blue);
    color: var(--black);
}

input[type="radio"]:checked+label {
    background-color: #76cf9f;
    border-radius: 0.65rem;
}
.question{    
    text-align: center;
}


.btn_grid{
    display:grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0; 
}

.generate-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.generate-quiz button {
    background: #0C4271;
}

.warn {
    color: rgb(216, 38, 38);
}
.times_up{
    text-align: center;
}

.table{
    text-align: center;
    color: var(--beige);
}
th {
    color: var(--black);
}

.board{
    text-align: center;
    justify-content: center;
    align-items: center;
}